.newItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
.loader {
  height: 90px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border-width: 0.05px;
}
