@media only screen and (max-width: 1190px) {
  .nav-items {
    width: 90% !important;
  }
  .card {
    width: 93% !important;
  }
  .card-list {
    width: 70% !important;
  }
  .card-filters {
    width: 28% !important;
  }
  .input-field {
    width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  .field-icon {
    width: 40px !important;
    height: 40px !important;
  }
  .card-list {
    width: 100% !important;
  }
  .display-wrapper {
    flex-direction: column-reverse;
  }
  .card-filters {
    width: 90% !important;
  }
  .display-wrapper {
    align-items: center;
  }
  .input-field {
    width: 200px !important;
  }
  .categories-wrapper {
    display: none !important;
  }
  .text {
    font-size: 5vw !important;
    text-align: center !important;
  }
  .input-field {
    width: 500px !important;
  }
}

@media only screen and (max-width: 650px) {
  .card-list {
    width: 100% !important;
  }
  .display-wrapper {
    flex-direction: column-reverse;
  }
  .card-filters {
    width: 90% !important;
  }
  .display-wrapper {
    align-items: center;
  }
  .input-field {
    width: 300px !important;
  }
  .text {
    font-size: 7vw !important;
  }
  .image-wrapper {
    width: 130px !important;
    padding: 10px !important;
  }
  .description-title {
    font-size: 17px !important;
  }
  .image-wrapper {
    padding: 5px !important;
  }
  .image {
    width: 60px !important;
  }
}

@media only screen and (max-width: 520px) {
  .date {
    display: none !important;
  }
  form {
    width: 100% !important;
  }
  .login-card {
    width: 100% !important;
  }
  .input-field {
    width: 250px !important;
  }
}
