.App {
  text-align: center;
}

.containers {
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 100px;
}

.card-list {
  width: 800px;
}

.text {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hashtag {
  color: rgb(237, 112, 2) !important;
}

.loader-image {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.error-image {
  height: 400px;
  margin-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: 0px;
}

.categories-wrapper {
  height: 400px;
}

/* Categorias */

.pagination {
  display: flex;
  justify-content: center;
}
